#page-create-point {
    width: 90%;
    max-width: 1100px;

    /*Alinhamento de caixa padrão (pelo lado de fora)*/
    margin: 0 auto;
}

#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 24px;
    margin-right: 16px;
}

form {
    background-color: white;

    /*Preenchimento, ele já estica um pouco pra fora 
    automaticamente, devido ao box model, por isso temos
    que resetar isso com o box-sizing, o padding não
    esticará a caixa*/
    padding: 64px;
    box-sizing: border-box;

    border-radius: 8px;
    margin: 80px auto;
    max-width: 730px;

}

form h1 {
    font-size: 36px;
}

form h2 {
    font-size: 24px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form .field {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    outline: none;

}
/*Pra prevenir que os navegadores não apliquem as propriedades acima*/
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

/*Um field seguido de outro*/
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;
    border: 0;

    color: white;
    font-weight: bold;
    font-size: 16px;

    margin-top: 40px;

    transition: background-color 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: #2fb68e;
}