/* BOX MODEL 

largura, altura, espaçamentos, preenchimentos
bordas, cor, fundo, maneira que é vista pelo html (display)
posicionamento, alinhamento
*/

#page-home {
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    /*Ordem - top - left - right - bot
    Como se fosse um relógio*/
    /*Outra opção - margin: 48px auto 0, e tirar o margin top do header*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span {
    display: flex;
    background-image: url('../assets/log-in.svg');
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

#page-home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 560px;
}

#page-home main h1 {
    font-size: 54px;
    color: var(--title-color);
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px;

    background-color: var(--primary-color);

    display: flex;
    align-items: center;

    margin-top: 40px;

    transition: 400ms;
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color: rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Forma de adicionar html sem adicionar mesmo lá no .html*/
#page-home main a span::after {
    content: "";
    background-image: url('../assets//search.svg');

    width: 20px;
    height: 20px;
}

#page-home main a strong {
    color: white;
    flex: 1;

    text-align: center;
}