:root {
    --title-color: #322153;
    --primary-color: #34cb69;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
